body{
    margin: 0px;
    background-image: url('https://c0.wallpaperflare.com/preview/730/977/271/drums-set-people-man.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    width: 100vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    color: yellow;
    text-transform: capitalize;
}
div#latters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
div#latters div{
    width: 100px;
    height: 100px;
    color: yellow;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    transition-duration: .3s;
}
div#latters div.marcado{
    border: 2px solid yellow;
    transition-duration: .3s;
}